.results__items {
    display: none;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 16px;
    margin-top: 64px;
    margin-bottom: 64px;
    padding-right: 104px;
    padding-left: 104px;
}

.results__items_active {
    display: grid;
}

@media screen and (max-width: 768px) {
    .results__items {
        grid-template-columns: repeat(auto-fill, 224px);
        grid-gap: 8px;
        margin-top: 32px;
        margin-bottom: 32px;
        padding-right: 40px;
        padding-left: 40px;
    }
}
