.results__items{
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 16px;
    margin-top: 64px;
    margin-bottom: 64px;
}

@media screen and (max-width: 768px){
  .results__items{
    grid-template-columns: repeat(auto-fill, 224px);
    grid-gap: 8px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
