@import url('./__agency-info/results-item__agency-info.css');
@import url('./__image/results-item__image.css');
@import url('./__text/results-item__text.css');
@import url('./__time/results-item__time.css');
@import url('./__title/results-item__title.css');
@import url('./__content/results-item__content.css');

.results-item{
    max-width: 400px;
    min-height: 576px;
    background: #fff;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
}

.results-item:hover{
    box-shadow: 0px 5px 10px #081D2D;
}