.technology__item{
  width: 120px;
  height: 153px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 18px;
  text-align: center;
  margin-top: 93px;
}

@media screen and (max-width: 768px){
  .technology__item{
    margin-top: 40px;
  }
}
