@import url('_button/search__field_button.css');
@import url('_input/search__field_input.css');

.search__field{
    max-width: 608px;
    height: 64px;
    position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .search__field {
    max-width: 452px;
    height: 56px;
  }
}

@media screen and (max-width: 767px) {
  .search__field{
    display: flex;
    position: static;
    max-width: 288px;
    height: 56px;
    flex-wrap: wrap;
  }
}
