@import url("__text/not-found__text.css");
@import url("__title/not-found__title.css");
@import url("__icon/not-found__icon.css");

.not-found {
    background: #f5f6f7;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    display: block;
}

@media screen and (max-width: 768px) {
    .not-found {
        max-width: 768px;
    }
}
